<div class="col">

  <div class="d-flex align-items-center justify-content-between">
    <h3 class="font-weight-bold">North station - Departures</h3>
    <button class="btn btn-secondary btn-sm" (click)="fetchData()" title="Refresh data">&#x21ba;</button>
  </div>

  <div class="d-flex justify-content-end">
    <div class="small" *ngIf="lastUpdateTime">
      <span>Last update time: </span>
      <span>{{lastUpdateTime | date: 'mediumTime'}}</span>
    </div>
  </div>


  <div *ngIf="preds && !error">
    <table class="table table-dark">
      <thead>
      <tr>
        <th scope="col">Time</th>
        <th scope="col">Dest.</th>
        <th scope="col">Train #</th>
        <th scope="col">Track</th>
        <th scope="col">Status</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let pred of preds">
        <td colspan="5" *ngIf="!pred.trip; else row">Loading</td>
        <ng-template #row>
          <td>{{pred.attributes.departure_time | date : 'shortTime'}}</td>
          <td>{{pred.trip.attributes.headsign}}</td>
          <td>{{pred.trip.attributes.name}}</td>
          <td>{{extractTrackId(pred.relationships.stop.data.id)}}</td>
          <td>{{pred.attributes.status}}</td>
        </ng-template>

      </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="error">
    <h3>Error fetching data from MBTA API</h3>
  </div>

</div>




